<!DOCTYPE html>
<html>
<head>
  <title>Charting Exploration</title>
  <link rel="shortcut icon" href="/img/ibeam.ico" />
    {{{clientSrc 'css' styles="styles"}}}
</head>
<body>

  <div id="contentContainer">
    {{> page/header }} 
    {{{body}}}
    {{> page/footer }}   
  </div>
{{{clientSrc 'js' scripts="vendor,app"}}}

</body>
</html>